/.vscode
/.cproject
/.idea
/.project
*.iml
*.so
*.la
*.dep
*.lo
*.o
*.loT
/.log
/.runtime
/.venv
/Debug
/build
/out
/.libs
/autom4te.cache
/CMakeCache.txt
/cmake_install.cmake
Makefile
/CMakeFiles
/.settings
__pycache__
__phpy_proxy__
/vendor
/venv
/.pytest_cache
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/libtool
/Makefile.objects
/Makefile.fragments
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phpunit.cache
config.h.in~
configure~
run-tests.php
missing
mkinstalldirs
Makefile.global
ltmain.sh
install-sh
configure.in
acinclude.m4
config.guess
config.sub
/composer.lock

